version: "3.9"

services:

  # start server
  server:
    image: aemdesign/java-buildpack:jdk11
    command: /bin/bash -l /build/source/scripts/automation-test.sh
    working_dir: /build/source
    volumes:
      - ./:/build/source
    environment:
      - NODE_ENV=develop
      - PORT=8080
      - HOST=server
    healthcheck:
      test: ["CMD", "curl", "-f", "http://server:8080"]
      interval: 3s
      timeout: 5s
      retries: 5
      start_period: 2s
    networks:
      default:
        aliases:
          - server

  # run tests
  cypress:
    image: cypress/included:9.5.0
    working_dir: /source
    volumes:
      - ./:/source
    command: run --config baseUrl=http://server:8080
    depends_on:
      server:
        condition: service_healthy
    networks:
      - default

networks:
  default:
